body{
  background-image: url(Fond-du-site.jpg);
}
.titre{
  margin: 0 15% 0 25%;
  text-align: center;
}
.titre-panier{
  text-align: center;
}
.container-main{
  display: flex;
}
.sidemenu{
  height: 750px;
  width: 400px;
  padding-left: 80px;
  padding-top: 140px;
  margin: 50px 10px 40px 20px;
  align-content: center;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-image: url(Menu-sans-txt.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  opacity: 0.8;
}

.sidemenu a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  font-size: 20px;
  color: #99003d;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidemenu a:hover, .dropdown-btn{
 color: #e31ca7;
}

.active {
  background-color: #440832;
  color: #fce8f6;
}

.dropdown-countainer {
  display: none;
  background-color: #2d0621;
}

.fa-caret-down{
  float:right;
  padding-right: 8px;
}

.article{
  border: solid #f2adc3 8px;
  border-radius: 70px;
  width: 350px;
  height: 500px;
  padding: 20px;
}

.panier{
  text-align: center;
  height: 50px;
  width: 100px;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
